<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ECC.SMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="Timer" value="200000" />
    <add key="QtdeSmsEnviadosPorVez" value="20" />
    <add key="QtdeSmsConfirmarPorVez" value="20" />
    <!--Email  para Envio de SMS-->
    <add key="EmailSms" value="sms@economizaja.com.br" />
    <add key="EmailSmsPass" value="@sms1721" />

    <!--Envio de SMS TWW-->
    <add key="TWWUsuario" value="saicro" />
    <add key="TWWSenha" value="\Ecj@789278#" />
  </appSettings>
  <connectionStrings>
    <add name="ECC_DEV" connectionString="Data Source=69.197.186.170,778;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=@/%econovasenhahom" providerName="System.Data.SqlClient" />
    <add name="ECC_HOM" connectionString="Data Source=69.197.186.170,777;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=\ecj0697@" providerName="System.Data.SqlClient" />
    <add name="ECC_PRD" connectionString="Data Source=204.12.204.58,779;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=@/%econovasenhaprod" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.net>
    <mailSettings>
   
      <!--SMTP para envio de email-->
      <smtp deliveryMethod="Network">
       <network host="smtp.gmail.com" port="587" defaultCredentials="true" userName="economizaja@gmail.com" password="\admin1721@" />
      <!--   <network host="smtpout.secureserver.net" port="80" userName="economizaja@economizaja.com.br" password="146789" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <ECC.SMS.Properties.Settings>
      <setting name="ECC_SMS_TwwService_ReluzCap_x0020_Web_x0020_Service" serializeAs="String">
        <value>https://webservices2.twwwireless.com.br/reluzcap/wsreluzcap.asmx</value>
      </setting>
    </ECC.SMS.Properties.Settings>
  </applicationSettings>
</configuration>
