
<div class="panel panel-primary">
    <div class="panel-heading">
        MANUTENÇÃO DE USUÁRIO
    </div>
</div>

<form class="form-signin" role="form" novalidate angular-validator name="userAlterarSenhaForm" angular-validator-submit="salvarNovaSenha()">
    <div class="panel-body">
        <h4>Alterar Senha</h4>
        <hr />

        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <span class="block input-icon input-icon-right">
                        <input type="password" id="txtSenha0" name="txtSenha0" class="form-control" ng-model="novaSenha0" placeholder="Senha Atual"
                               validate-on="blur" required required-message="'Senha atual obrigatória'" ng-disabled="desabilitaAlterar">
                        <i class="ace-icon fa fa-lock"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <span class="block input-icon input-icon-right">
                        <input type="password" id="txtSenha1" name="txtSenha1" class="form-control" ng-model="novaSenha1" placeholder="Nova Senha"
                               validate-on="blur" required required-message="'Senha obrigatória'" ng-disabled="desabilitaAlterar" maxlength="8" />
                        <i class="ace-icon fa fa-lock"></i>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <span class="block input-icon input-icon-right">
                        <input type="password" id="txtSenha2" name="txtSenha2" class="form-control" ng-model="novaSenha2" placeholder="Confirmação Senha"
                               validate-on="blur" required required-message="'Confirmação de Senha obrigatória'" ng-disabled="desabilitaAlterar" maxlength="8"/>
                        <i class="ace-icon fa fa-lock"></i>
                    </span>
                </div>
            </div>
        </div>


    </div>

    <!--Fim Dados do Usuário-->
    <!--Inicio Botoes-->
    <hr />


    <!--Fim Botoes-->
    <button type="submit" class="btn btn-success btn-sm">
        <i class="ace-icon fa fa-check"></i>
        Salvar
    </button>
    <button type="button" class="btn btn-danger btn-sm" ng-click="cancel()">
        <i class="ace-icon fa fa-times"></i>
        Cancel
    </button>

</form>


