<div class="row">
    <div class="col-md-4 h4">
        Fechamento:
        <span class="label label-xlg label-warning label-white middle">
            {{Fatura.DtFechamento | date : 'dd/MM/yyyy'}}
        </span>
    </div>
    <div class="col-md-4 h4">
        Vencimento:
        <span class="label label-xlg label-warning label-white middle">
            {{Fatura.DtVencimento | date : 'dd/MM/yyyy'}}
        </span>
    </div>
    <div class="col-md-4 align-right">
        <button type="button" ng-click="gerarBoleto(Fatura)" class="btn btn-primary" ng-show="gerarBoletoShow">
            GERAR BOLETO
        </button>

        <a class="btn btn-success" target="_blank" ng-href="{{FaturaAnterior.UrlBoleto}}" ng-show="imprimirBoletoShow">
            <i class="icon fa fa-print"></i>
            IMPRIMIR BOLETO
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover" id="gvComissoes">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>N. Pedido</th>
                    <th>Valor do Pedido</th>
                    <th>Comissão</th>
                </tr>
            </thead>
            <tbody ng-repeat="comissao in Fatura.Comissoes">
                <tr>
                    <td class="col-md-2">{{comissao.DtCriacao | date : 'dd/MM/yyyy'}}</td>
                    <td class="col-md-2">{{comissao.PedidoId}}</td>
                    <td style="padding-right: 10pt; padding-left: 10pt;">
                        <span class="pull-left">R$ </span><span class="pull-right">{{comissao.PedidoTotal | currency : ''}}</span>
                    </td>
                    <td style="padding-right: 10pt; padding-left: 10pt;">
                        <span class="pull-left">R$ </span><span class="pull-right">{{comissao.Valor | currency : ''}}</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2" class="align-right" style="padding-right: 10pt; padding-left: 10pt;">Total ({{Fatura.Status}})</th>
                    <th style="padding-right: 10pt; padding-left: 10pt;">
                        <span class="pull-left">R$ </span><span class="pull-right">{{Fatura.TotalVendas | currency : ''}}</span>
                    </th>
                    <th style="padding-right: 10pt; padding-left: 10pt;">
                        <span class="pull-left">R$ </span><span class="pull-right">{{Fatura.TotalComissoes | currency : ''}}</span>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>