<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ECC.API_Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Gerencianet.SDK.Credentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ECC.SMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ECC_DEV" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=ECC;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="ECC_DEV" connectionString="Data Source=69.30.249.130,778;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=\ecj0697@" providerName="System.Data.SqlClient" />-->

    <add name="ECC_HOM" connectionString="Data Source=173.208.182.26,778;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=\ecj0697@" providerName="System.Data.SqlClient" />
    <add name="ECC_PRD" connectionString="Data Source=69.30.249.130,779;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=@Prod2019*/success" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.net>
    <mailSettings>
      <!--SMTP para envio de email-->
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" defaultCredentials="true" userName="economizaja@gmail.com" password="\admin1721@" />
        <!--  <network host="smtp.zoho.com" port="587" defaultCredentials="false"  userName="economizaja@economizaja.com.br" password="Ecj146789" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!--Caminho para gravar as imagens no diretorio fisico na producao-->
    <add key="Prd_CamImagens" value="D:\Imagens\Produto\" />
    <!--Caminho para gravar as imagens no diretorio fisico local-->
    <add key="Hom_CamImagens" value="D:\Imagens\Produto\" />
    <!--Caminho para gravar as imagens no diretorio fisico local-->
    <add key="Dev_CamImagens" value="c:\Imagens\Produto\" />
    <!--Caminho para exibir a imagens local, foi necessario criar um diretorio virtual para mostrar-->
    <add key="hom_CamImagensExibi" value="http://homimagens.economizaja.com.br/Produto/" />
    <!--Caminho para exibir a imagens no servidor-->
    <add key="Prd_CamImagensExibi" value="https://imagens.economizaja.com.br/Produto/" />
    <!--Caminho para exibir a imagens local, foi necessario criar um diretorio virtual para mostrar-->
    <add key="dev_CamImagensExibi" value="http://localhost/Imagens/Produto/" />
    <!--Retorno Status Fatura GerenciaNet-->
    <add key="Dev_UrlRetorno" value="http://mycasaval.ddns.net:1310/" />
    <add key="Hom_UrlRetorno" value="http://homadm.economizaja.com.br/" />
    <add key="Prd_UrlRetorno" value="https://adm.economizaja.com.br/" />

    <!-- Produção-->
    <!--<add key="ClientID" value="Client_Id_ea14656617977f2a67c50b60c1c07ab3c7378e17" />
    <add key="ClientSecret" value="Client_Secret_ee86bed69edf004ca78a569b86271ea104960cdb" />
    <add key="Sandbox" value="False" />-->

    <!--Homologação-->
    <add key="ClientID" value="Client_Id_81cbc674d97c6c37768985011c10abbf04e5f3c8" />
    <add key="ClientSecret" value="Client_Secret_9da91579702b9b1e7d49b514a2a3f54da6e95cc9" />
    <add key="Sandbox" value="True" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--Envio de SMS TWW-->
    <add key="TWWUsuario" value="saicro" />
    <add key="TWWSenha" value="/Ecj@789278#" />
  </appSettings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <trust level="Full" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <machineKey validation="HMACSHA512" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!--Quando publicar em produção habilitar-->
    <!--<rewrite>
      <rules>
        <rule name="http to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <applicationSettings>
    <ECC.API_Web.Properties.Settings>
      <setting name="ECC_API_Web_br_com_correios_apps_AtendeClienteService" serializeAs="String">
        <value>https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente</value>
      </setting>
    </ECC.API_Web.Properties.Settings>
    <Gerencianet.SDK.Credentials>
      <setting name="ClientID" serializeAs="String">
        <value>Client_Id_81cbc674d97c6c37768985011c10abbf04e5f3c8</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value>Client_Secret_9da91579702b9b1e7d49b514a2a3f54da6e95cc9</value>
      </setting>
      <setting name="Sandbox" serializeAs="String">
        <value>True</value>
      </setting>
    </Gerencianet.SDK.Credentials>
    <ECC.SMS.Properties.Settings>
      <setting name="ECC_SMS_TwwService_ReluzCap_x0020_Web_x0020_Service" serializeAs="String">
        <value>https://webservices2.twwwireless.com.br/reluzcap/wsreluzcap.asmx</value>
      </setting>
    </ECC.SMS.Properties.Settings>
  </applicationSettings>
</configuration>