<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Gerencianet.SDK.Credentials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <applicationSettings>
    <Gerencianet.SDK.Credentials>
      <setting name="ClientId" serializeAs="String">
        <value>Client_Id_81cbc674d97c6c37768985011c10abbf04e5f3c8</value>
      </setting>
      <setting name="ClientSecret" serializeAs="String">
        <value>Client_Secret_9da91579702b9b1e7d49b514a2a3f54da6e95cc9</value>
      </setting>
      <setting name="Sandbox" serializeAs="String">
        <value>True</value>
      </setting>
    </Gerencianet.SDK.Credentials>
  </applicationSettings>
</configuration>
