<div class="page-content">

    <div class="page-header">
        <h1>
            <i class="fa fa fa-money" aria-hidden="true"></i>
            Indisponibilidade de Produtos
        </h1>

    </div>

    <div class="row">
        <div class="col-md-12">
            
            <h4>Pesquisar Produtos</h4>

            <hr/>
            <!--Campos para filtrar a pesquisa dos produtos promocionais-->
            <form class="form-group" role="form">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <span class="lbl">Categoria</span>
                            <select id="ddlCategoriaPesq" ng-model="CategoriaId" class="form-control black"
                                    ng-options="option.Id as option.DescCategoria for option in categorias" required
                                    ng-change="pesquisarSubCategoria(CategoriaId);"></select>
                            <input type="hidden" name="CategoriaId" ng-value="CategoriaId"/>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <span class="lbl">Sub-Categoria</span>
                            <select id="ddlSubCategoriaPesq" ng-model="SubCategoriaId" class="form-control black"
                                    ng-options="option.Id as option.DescSubCategoria for option in subcategorias"
                                    ng-disabled="DesabilitarSubCategoria">
                                <option value="">Subcategoria ...</option>
                            </select>
                            <input type="hidden" name="pesq.SubCategoriaId" ng-value="SubCategoriaId"/>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <span class="lbl">Descrição</span>
                            <input type="text" class="form-control" ng-model="filtroProduto"
                                   placeholder="Pesquisar Produto" maxlength="100"/>

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-horizontal" style="margin-top: 20px;">
                            <span class="lbl">
                            </span>
                            <button type="button" class="btn btn-info btn-sm" ng-click="pesquisarProduto()"
                                    ng-disabled="!SubCategoriaId > 0">
                                <i class="ace-icon fa fa-search bigger-110"></i>Pesquisar
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <!--Inicio Tabela Pesquisar-->
            <div class="table-responsive">
                <table class="table table-bordered table-hover " id="gvPesquisaProduto">
                    <thead>
                        <tr>
                           
                            <th>
                                <a href="" ng-click="predicate = 'Categoria';  reverse = (predicate === predicate) ? !reverse : false;">Categoria</a>
                                <span class="sortorder" ng-show="predicate === 'Categoria'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'Subcategoria';  reverse = (predicate === predicate) ? !reverse : false;">Subcategoria</a>
                                <span class="sortorder" ng-show="predicate === 'Subcategoria'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'DescProduto';  reverse = (predicate === predicate) ? !reverse : false;">Produto</a>
                                <span class="sortorder" ng-show="predicate === 'DescProduto'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'UnidadeMedida';  reverse = (predicate === predicate) ? !reverse : false;">Un. Medida</a>
                                <span class="sortorder" ng-show="predicate === 'UnidadeMedida'" ng-class="{reverse:reverse}"></span>

                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'Marca';  reverse = (predicate === predicate) ? !reverse : false;">Marca</a>
                                <span class="sortorder" ng-show="predicate === 'Marca'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'Periodo';  reverse = (predicate === predicate) ? !reverse : false;">Período</a>
                                <span class="sortorder" ng-show="predicate === 'Periodo'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'Indisponibilidade';  reverse = (predicate === predicate) ? !reverse : false;">Indisponível</a>
                                <span class="sortorder" ng-show="predicate === 'Indisponibilidade'" ng-class="{reverse:reverse}"></span>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="ng-trans ng-trans-flip-x" ng-repeat="pesqProduto in produtos | filter: filtroProduto | orderBy:predicate:reverse">
                            <td>{{pesqProduto.DescCategoria}}</td>
                            <td>{{pesqProduto.DescSubCategoria}}</td>
                            <td>{{pesqProduto.DescProduto}}</td>
                            <td>{{pesqProduto.UnidadeMedida}}</td>
                            <td>{{pesqProduto.Marca}}</td>
                            <td>{{pesqProduto.PeriodoIndisponivel}}</td>
                            <td>
                                <div class="">
                                    <div class="inline pos-rel">
                                        <label class="pos-rel">
                                            <input type="checkbox" class="ace input-lg"
                                                   ng-model="pesqProduto.selected" value="{{categoriaPesq.Id}}"
                                                   ng-checked="categoriaPesq.Relacionado"
                                                   ng-change="inserirDeletarDisponibilidadeProduto(pesqProduto)">
                                            <span class="lbl"></span>
                                        </label>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="text-center">
                    <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="pesquisarProduto(page)"></custom-pager>
                </div>
            </div>
            <!--Fim Tabela Pesquisar-->

        </div>
    </div>


</div>