<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>homadm.economizaja.com.br</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>173.208.182.26</MSDeployServiceURL>
    <DeployIisAppPath>homadm.economizaja.com.br</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ECC_DEV" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ECC.Dados.EconomizajaContext, ECC.Dados" MigrationConfiguration="ECC.Dados.Migrations.Configuration, ECC.Dados" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ECC_HOM" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=173.208.182.26,778;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=\ecj0697@" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ECC_HOM_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=173.208.182.26,778;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=\ecj0697@" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ECC_PRD" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=69.30.249.130,779;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=@Prod2019*/success" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ECC_PRD_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=69.30.249.130,779;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=@Prod2019*/success" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ECC_HOM-Web.config Connection String" />
  </ItemGroup>
</Project>