<div class="panel panel-danger">

    <div class="modal-header">
        <button ng-click="close();" type="button" class="bootbox-close-button close">
            X
        </button>
        <h4 class="modal-title"> DETALHE DO PRODUTO</h4>

    </div>



</div>

<div class="panel-body">

    <div class="row">
        <div class="col-md-12">
            <img ng-src="{{produtoPesq.ImagemGrande}}" class="media-object img-responsive text-center" alt="{{produtoPesq.DescProduto}}" style="height: 400px; width: 400px;margin: auto">

        </div>
    </div>

    <div class="caption">

        <div class="row">
            <div class="col-md-4">
                <div class="clearfix">


                    <div class="pull-right bigger-110">


                        <div class="media-bottom">
                            <span component-rating="{{produtoPesq.Ranking }}"></span>
                        </div>

                    </div>


                </div>

            </div>


            <div class="col-md-4">
 


                <input type="text" mask="XXXX" maxlength="4" ng-model="QtdProduto" min='1' name="txtQtdProd" style="height: 30px; width: 60px; float: left; " placeholder="Qtd.." value="{{QtdProduto}}">

                


                <button type="button" class="btn btn-success btn-mini pull-left" style="height: 30px;" name=" btninserir" id="btnInserir" data-toggle="tooltip" ng-click="addQuantidade(produtoPesq.Id, produtoPesq.DescProduto, produtoPesq.Preco, QtdProduto, this, produtoPesq.Imagem)"
                        tooltip="Informe a Quantidade e clique aqui para colocar na cesta"
                        tooltip-placement="right">
                    Add
                    <i class="ace-icon fa fa-cart-plus fa-lg"></i>
                </button>
            </div>
        </div>

        <h5 class="search-title" style="height: 30px;">
            <a href="javascript:void(0);" class="blue">{{produtoPesq.DescProduto}}</a>
        </h5>



        <div   style="padding-top: 10px;">
            <h5>Especificações do produto:</h5>
            <p ng-bind-html="renderHtml(produtoPesq.Especificacao)"></p>
            Unidade de Medida: {{produtoPesq.UnidadeMedida}}
            <br/>
            Marca: {{produtoPesq.Marca}}
            <br/>
            Categoria: {{produtoPesq.DescCategoria}}
        </div>
    </div>
    <hr/>
</div>
