<div class="page-content">
    
    <div class="page-header">
        <h1>
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
             Indicadores
        </h1>
    </div>

    <div class="row">
        <div class="col-md-11">

            <div class="panel panel-success" id="panelMovieGenres">
                <div class="panel-heading text-center">
                    <h3 class="panel-title" style="font-weight: bold;">TOTAL DE GASTOS MENSAIS</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="loadingGenres">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading Genres..</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                    <div id="myfirstchart" style="height: 250px;"></div>
                </div>

            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-success" id="panelMovieGenres">
                <div class="panel-heading text-center">
                    <h3 class="panel-title" style="font-weight: bold;">PERCENTUAL DE ECONOMIA MENSAL</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="loadingGenres">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading Genres..</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                    <div id="myfirstchart3" style="height: 250px;"></div>
                </div>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-success" id="panelMovieGenres">
                <div class="panel-heading text-center">
                    <h3 class="panel-title" style="font-weight: bold;">PERCENTUAL DE ECONOMIA ANUAL</h3>
                </div>
                <div class="panel-body">
                    <div ng-if="loadingGenres">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-5x fa-spin"></i> <label class="label label-primary">Loading Genres..</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                    <div id="myfirstchart2" style="height: 250px;"></div>
                </div>

            </div>
        </div>

    </div>

</div>

 
