<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ECC.SMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Envio de SMS TWW-->
    <!--<add key="TWWUsuario_DEV" value="ecoja" />
    <add key="TWWSenha_DEV" value="/Ecj@789278#" />

    <add key="TWWUsuario_HOM" value="ecoja" />
    <add key="TWWSenha_HOM" value="/Ecj@789278#" />

    <add key="TWWUsuario_PROD" value="saicro" />
    <add key="TWWSenha_PROD" value="/Ecj@789278#" />-->


    <!--Envio de SMS TWW, so tem um unico usuario para todos ambiente HOM, DEV, PRD-->
    <add key="TWWUsuario" value="saicro" />
    <add key="TWWSenha" value="/Ecj@789278#" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <applicationSettings>
    <ECC.SMS.Properties.Settings>
      <setting name="ECC_SMS_TwwService_ReluzCap_x0020_Web_x0020_Service"
        serializeAs="String">
        <value>https://webservices2.twwwireless.com.br/reluzcap/wsreluzcap.asmx</value>
      </setting>
    </ECC.SMS.Properties.Settings>
  </applicationSettings>
</configuration>
