<div class="tabbable">
    
    <ul class="nav nav-tabs">

        <li id="tabPesquisar" ng-class="tabsSubCategoria.tabPesquisar.tabAtivar" ng-show="tabsSubCategoria.tabPesquisar.tabhabilitar">
            <a data-toggle="tab" href="#tabContPesquisar" target="_self" ng-click="habilitaDesabilitaAbaPesquisa();">
                <i class="green ace-icon fa fa-search bigger-120"></i>
                Pesquisar
            </a>
        </li>

        <li id="tabSubCatProduto" ng-class="tabsSubCategoria.tabSubCadCategoria.tabAtivar" ng-show="tabsSubCategoria.tabSubCadCategoria.tabhabilitar">
            <a data-toggle="tab" href="#tabSubCategoria" target="_self">
                <i class="red ace-icon fa fa-th bigger-120"></i>
                Sub-Categoria
            </a>
        </li>


    </ul>

    <div class="tab-content">

        <div id="tabContPesquisar" ng-class="tabsSubCategoria.tabPesquisar.contentAtivar" ng-show="tabsSubCategoria.tabPesquisar.contentHabilitar">
            <div class="row">



                <div class="col-md-12">
                    <h4>Pesquisar Sub-Categoria</h4>
                    <hr/>
                    <form class="form-group" role="form">

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <select id="ddlCategoriaPes" ng-model="novaSubCategoria.CategoriaId" class="form-control black" ng-options="option.Id as option.DescCategoria for option in categorias" required></select>
                                    <input type="hidden" name="novaSubCategoria.Id" ng-value="novaSubCategoria.Id"/>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-horizontal">
                                    <input type="text" class="col-md-4 form-control" ng-model="filtroSubCategoria" placeholder="Pesquisar Sub-Categoria" />
                                </div>
                            </div>


                     
                            &nbsp;
                            <button type="button" class="btn btn-info btn-sm" ng-click="pesquisarSubCategoria()">
                                <i class="ace-icon fa fa-search bigger-110"></i>Pesquisar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--Inicio Tabela Pesquisar-->
                    <div class="table-responsive">

                        <table class="table table-bordered table-hover" id="gvPesquisaSubCategoria">
                            <thead>
                                <tr>

                                    <th>
                                        <a href="" ng-click="predicate = 'DescCategoria';  reverse = (predicate === predicate) ? !reverse : false;">Categoria</a>
                                        <span class="sortorder" ng-show="predicate === 'DescCategoria'" ng-class="{reverse:reverse}"></span>
                                    </th>
                                    <th>
                                        <a href="" ng-click="predicate = 'DescSubCategoria';  reverse = (predicate === predicate) ? !reverse : false;">Sub-Categoria</a>
                                        <span class="sortorder" ng-show="predicate === 'DescSubCategoria'" ng-class="{reverse:reverse}"></span>
                                    </th>
                                    <th>
                                        <a href="" ng-click="predicate = 'Ativo';  reverse = (predicate === predicate) ? !reverse : false;">Ativo</a>
                                        <span class="sortorder" ng-show="predicate === 'Ativo'" ng-class="{reverse:reverse}"></span>
                                    </th>
                                    <th>Ação</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="pesqSubCategoria in subcategorias | filter: filtroSubCategoria || novaSubCategoria.CategoriaId  | orderBy:predicate:reverse">
                                    <td>{{pesqSubCategoria.DescCategoria}}</td>
                                    <td>{{pesqSubCategoria.DescSubCategoria}}</td>
                                    <td>
                                        <span ng-class="pesqSubCategoria.Ativo ? 'label label-sm label-success' : 'label label-sm label-danger'">{{pesqSubCategoria.DescAtivo}}</span>
                                    </td>
                                    <td>
                                        <div class="">
                                            <div class="inline pos-rel">
                                                <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto" aria-expanded="true">
                                                    <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-top dropdown-caret dropdown-close">

                                                    <li data-toggle="tooltip" data-placement="top" title="Editar">
                                                        <a href="javascript:void(0);" ng-click="editarSubCategoria(pesqSubCategoria)">
                                                            <span class="green">
                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                            </span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                        <div class="text-center">
                            <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="pesquisarSubCategoria(page)"></custom-pager>
                        </div>

                    </div>
                    <!--Fim Tabela Pesquisar-->

                </div>

            </div>
        </div>

        <div id="tabSubCategoria" ng-class="tabsSubCategoria.tabSubCadCategoria.contentAtivar" ng-show="tabsSubCategoria.tabSubCadCategoria.contentHabilitar">

            <h4>Sub-Categoria</h4>
            <hr />
            <form class="form-group" role="form" novalidate angular-validator name="novaSubCategoria" angular-validator-submit="inserirSubCategoria()">
                <!--Inicio Dados da SubCategoria-->
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <select id="ddlCategoria" ng-model="novaSubCategoria.CategoriaId" class="form-control black" ng-options="option.Id as option.DescCategoria for option in categorias" required></select>
                            <input type="hidden" name="novaSubCategoria.Id" ng-value="novaSubCategoria.Id" />
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-horizontal">
                            <input type="text" class="form-control" id="txtDescricaoCategoria" name="txtDescricaoCategoria" placeholder="Sub-Categoria" ng-model="novaSubCategoria.DescSubCategoria" />
                        </div>
                    </div>

                    <div class="col-md-4" style="top: 5px;">

                        <label>
                            <input name="form-field-checkbox" class="ace input-lg" type="checkbox" checked="checked" id="ckbAtivo" ng-model="novaSubCategoria.Ativo">
                            <span class="lbl"> Ativo</span>
                        </label>

                    </div>

                </div>
                <!--Fim Dados do fornecedor-->
                <!--Inicio Botoes-->
                <hr />
                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-success btn-sm">
                            <i class="ace-icon fa fa-check"></i>
                            Salvar
                        </button>

                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default btn-sm" ng-click="limpaDados()">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Novo
                        </button>

                    </div>
                </div>

                <!--Fim Botoes-->
            </form>

        </div>


    </div>
</div>