<style>
    .table > thead > tr > th {
        padding: 0;
        line-height: 1.400;
    }
</style>

<div class="page-content">

    <div class="row">
        <div class="col-md-12">

            <div class="page-header">
                <h1>
                    <i class="fa fa fa-money" aria-hidden="true"></i>
                    Aprovar Promoções
                </h1>

            </div>

            <!--Campos para filtrar a pesquisa dos produtos promocionais-->
            <form class="form-group" role="form">
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <span class="lbl">Categoria</span>
                            <select id="ddlCategoriaPesq" class="form-control black"
                                    ng-model="CategoriaId"
                                    ng-options="option.Id as option.DescCategoria for option in categorias" required
                                    ng-change="pesquisarSubCategoria(CategoriaId);"></select>
                            <input type="hidden" name="CategoriaId" ng-value="CategoriaId" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <span class="lbl">Sub-Categoria</span>
                            <select id="ddlSubCategoriaPesq" ng-model="SubCategoriaId" class="form-control black"
                                    ng-options="option.Id as option.DescSubCategoria for option in subcategorias"
                                    ng-disabled="DesabilitarSubCategoria">
                                <option value="">Subcategoria ...</option>
                            </select>
                            <input type="hidden" name="pesq.SubCategoriaId" ng-value="SubCategoriaId" />
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-horizontal">
                            <span class="lbl">Descrição</span>
                            <input type="text" class="form-control" ng-model="filtroProduto" placeholder="Pesquisar Produto" maxlength="100" />

                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-horizontal" style="margin-top: 20px;">
                            <span class=" lbl">
                            </span>
                            <button type="button" class="btn btn-info btn-sm" ng-click="pesquisarProduto()" ng-disabled="!SubCategoriaId > 0">
                                <i class="ace-icon fa fa-search bigger-110"></i>Pesquisar
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!--Inicio Tabela Pesquisar-->
            <div class="table-responsive">
                <table class="table table-bordered table-hover " id="gvPesquisaProduto">
                    <thead>
                        <tr>
                            <th>
                                <a href="" ng-click="predicate = 'DescProduto';  reverse = (predicate === predicate) ? !reverse : false;">Produto</a>
                                <span class="sortorder" ng-show="predicate === 'DescProduto'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <th>
                                <a href="" ng-click="predicate = 'Categoria';  reverse = (predicate === predicate) ? !reverse : false;">Categoria</a>
                                <span class="sortorder" ng-show="predicate === 'Categoria'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'Subcategoria';  reverse = (predicate === predicate) ? !reverse : false;">Subcategoria</a>
                                <span class="sortorder" ng-show="predicate === 'Subcategoria'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'Marca';  reverse = (predicate === predicate) ? !reverse : false;">Marca</a>
                                <span class="sortorder" ng-show="predicate === 'Marca'" ng-class="{reverse:reverse}"></span>
                            </th>
                            <!--<th>
                                <a href="" ng-click="predicate = 'UnidadeMedida';  reverse = (predicate === predicate) ? !reverse : false;">Un. Medida</a>
                                <span class="sortorder" ng-show="predicate === 'UnidadeMedida'" ng-class="{reverse:reverse}"></span>

                            </th>-->
                            <th>
                                <a href="" ng-click="predicate = 'PrecoMedio';  reverse = (predicate === predicate) ? !reverse : false;">Preço</a>
                                <span class="sortorder" ng-show="predicate === 'PrecoMedio'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'PrecoPromocao';  reverse = (predicate === predicate) ? !reverse : false;">Preço <br><b style="color: red;">Promoção</b></a>
                                <span class="sortorder" ng-show="predicate === 'PrecoPromocao'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'InicioPromocao';  reverse = (predicate === predicate) ? !reverse : false;">Iníciou</a>
                                <span class="sortorder" ng-show="predicate === 'InicioPromocao'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th>
                                <a href="" ng-click="predicate = 'FimPromocao';  reverse = (predicate === predicate) ? !reverse : false;">Encerra</a>
                                <span class="sortorder" ng-show="predicate === 'FimPromocao'" ng-class="{reverse:reverse}"></span>
                            </th>

                            <th style="color: #337ab7">
                                Aprovado
                            </th>
                            <!--<th>
                                <a href="" ng-click="predicate = 'Status';  reverse = (predicate === predicate) ? !reverse : false;">Promoção</a>
                                <span class="sortorder" ng-show="predicate === 'Status'" ng-class="{reverse:reverse}"></span>
                            </th>-->
                            <th style="color: #337ab7">Aprovar</th>
                        </tr>
                    </thead>
                    <tr ng-show="produtos.length == 0">
                        <td class="tdCenter text-center" colspan="10" style="background-color: white; color: red; padding: 10px;">
                            <i class="icon fa fa-ban" style="font-size: 20px;"></i>
                            Nenhuma Promoção Encontrada.
                        </td>
                    </tr>
                    <tbody>
                        <tr class="ng-trans ng-trans-flip-x" ng-repeat="pesqProduto in produtos | filter: filtroProduto | orderBy:predicate:reverse">

                            <td>{{pesqProduto.DescProduto}}</td>
                            <td>{{pesqProduto.DescCategoria}}</td>
                            <td>{{pesqProduto.DescSubCategoria}}</td>
                            <td>{{pesqProduto.Marca}}</td>
                            <!--<td>{{pesqProduto.UnidadeMedida}}</td>-->
                            <td>{{pesqProduto.PrecoMedio}}</td>
                            <td>{{pesqProduto.PrecoPromocao}}</td>
                            <td>{{pesqProduto.InicioPromocao | date:'dd/MM/yyyy'}}</td>
                            <td>{{pesqProduto.FimPromocao | date:'dd/MM/yyyy'}}</td>

                            <!--<td>
                                <span ng-class="pesqProduto.Ativo ? 'label label-sm label-success' : 'label label-sm label-danger'">{{pesqProduto.DescAtivo}}</span>
                            </td>-->
                            <td>
                                <label ng-class="{'label label-success': pesqProduto.AprovacaoFranquia == true,
                                                  'label label-warning': pesqProduto.AprovacaoFranquia == false && pesqProduto.Aprovado,
                                                  'label label-danger': pesqProduto.AprovacaoFranquia == false}">
                                    {{pesqProduto.AprovacaoFranquia ? 'Sim' : pesqProduto.AprovacaoFranquia == false && pesqProduto.Aprovado == true ? 'Aguardando aprovação' : 'Não'}}
                                </label>
                            </td>
                            <td>
                                <div>
                                    <div class="inline pos-rel">
                                        <button class="btn btn-minier btn-info"
                                                data-toggle="dropdown"
                                                data-position="auto" aria-expanded="false"
                                                tooltip="Aprovar Promoção" tooltip-placement="left"
                                                ng-click="detalhesProdutoPromocional(pesqProduto)">
                                            <i class="ace-icon fa fa-pencil-square-o bigger-110"></i>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="text-center">
                    <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="pesquisarProduto(page)"></custom-pager>
                </div>
            </div>
            <!--Fim Tabela Pesquisar-->

        </div>
    </div>

</div>



