@*@model ECC.WebJobScheduler.Models.JobSchedulerViewModel*@

@{
    ViewBag.Title = "Economiza Já - Robô";
   
}

<div class="jumbotron">
    <div class="row">
        <div class="col-lg-4">
            
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4"></div>
    </div>
</div>

