<div class="tabbable">
    
    <ul class="nav nav-tabs">

        <li id="tabPesquisar" ng-class="tabsStatusSistema.tabPesquisar.tabAtivar" ng-show="tabsStatusSistema.tabPesquisar.tabhabilitar">
            <a data-toggle="tab" href="#tabContPesquisar" target="_self" ng-click="habilitaDesabilitaAbaPesquisa();">
                <i class="green ace-icon fa fa-search bigger-120"></i>
                Pesquisar
            </a>
        </li>

        <li id="tabCadStatusSistema" ng-class="tabsStatusSistema.tabCadStatusSistema.tabAtivar" ng-show="tabsStatusSistema.tabCadStatusSistema.tabhabilitar">
            <a data-toggle="tab" href="#tabContStatusSistema" target="_self">
                <i class="red ace-icon fa fa-th bigger-120"></i>
                Status Sistema
            </a>
        </li>
        
    </ul>

    <div class="tab-content">
        
        <div id="tabContPesquisar" ng-class="tabsStatusSistema.tabPesquisar.contentAtivar" ng-show="tabsStatusSistema.tabPesquisar.contentHabilitar">
            <div class="row">
                <div class="col-md-12">
                    <h4>Pesquisar Status Sistema</h4>
                    <hr/>
                    <form class="form-inline" role="form">
                        <input type="text" class="col-md-4" ng-model="filtroStatusSistema" placeholder="Pesquisar Descrição"/>
                        &nbsp;
                        <button type="button" class="btn btn-info btn-sm" ng-click="pesquisarStatusSistema();">
                            <i class="ace-icon fa fa-search bigger-110"></i>Pesquisar
                        </button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!--Inicio Tabela Pesquisar-->
                    <div class="table-responsive">

                        <table class="table table-bordered table-hover" id="gvPesquisaStatusSistema">
                            <thead>
                            <tr>
                                <th>Workflow</th>
                                <th>Descrição</th>


                                <th>
                                    <a href="" ng-click="predicate = 'Ordem';  reverse = (predicate === predicate) ? !reverse : false;">Ordem</a>
                                    <span class="sortorder" ng-show="predicate === 'Ordem'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th>Ativo</th>
                                <th>Ação</th>

                            </tr>
                            </thead>

                            <tbody>
                            <tr ng-repeat="statusSistemaPesq in StatusSistema | filter:filtroStatusSistema | orderBy:predicate:reverse">
                                <td>{{statusSistemaPesq.WorkflowStatusSistema}}</td>
                                <td>{{statusSistemaPesq.DescStatus}}</td>
                                <td>{{statusSistemaPesq.Ordem}}</td>
                                <td>
                                    <span ng-class="statusSistemaPesq.Ativo ? 'label label-sm label-success' : 'label label-sm label-danger'">{{statusSistemaPesq.DescAtivo}}</span>
                                </td>
                                <td>
                                    <div class="">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto" aria-expanded="true">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-top dropdown-caret dropdown-close">

                                                <li data-toggle="tooltip" data-placement="top" title="Editar">
                                                    <a href="javascript:void(0);" ng-click="editarStatusSistema(statusSistemaPesq);">
                                                        <span class="green">
                                                                <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                            </span>
                                                    </a>
                                                </li>
                                                <li data-toggle="tooltip" data-placement="top" title="Deletar">
                                                    <a href="javascript:void(0);" ng-click="deletarStatusSistema(statusSistemaPesq);">
                                                        <span class="green">
                                                                <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                            </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="text-center">
                            <custom-pager page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="pesquisarStatusSistema(page)"></custom-pager>
                        </div>
                    </div>
                    <!--Fim Tabela Pesquisar-->
                </div>
            </div>
        </div>

        <div id="tabContStatusSistema" ng-class="tabsStatusSistema.tabCadStatusSistema.contentAtivar" ng-show="tabsStatusSistema.tabCadStatusSistema.contentHabilitar">

            <h4>Dados Status Sistema</h4>
            <hr/>
            <form class="form-group" role="form" novalidate angular-validator name="novoStatusSistema" angular-validator-submit="inserirStatusSistema()">
                <!--Inicio Dados do fornecedor-->
                <div class="row">

                    <div class="col-md-2">
                        <div class="form-horizontal">

                            <select id="ddlWorkflow" ng-model="novoStatusSistema.WorkflowStatusId" class="form-control black" ng-options="option.Id as option.DescWorkslowStatus for option in workflowstatus"></select>
                            <input type="hidden" name="novoStatusSistema.WorkflowStatusId" ng-value="novoStatusSistema.WorkflowStatus.Id"/>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-horizontal">
                            <input type="text" class="form-control" ng-model="novoStatusSistema.DescStatus" id="txtDescricao"
                                   name="txtDescricaoStatus" placeholder="Descrição"
                                   validate-on="blur" required required-message="'Descrição é de preenchimento obrigatório.'"/>
                        </div>
                    </div>


                    <div class="col-md-1">
                        <div class="form-horizontal">
                            <input type="text" class="form-control" ng-model="novoStatusSistema.Ordem" id="txtOrdemStatus"
                                   name="txtOrdemStatus" placeholder="Ordem"
                                   validate-on="blur" required required-message="'Ordem é de preenchimento obrigatório.'" mask="XX"/>
                        </div>
                    </div>

                    <div class="col-md-4" style="top: 5px;">

                        <label>
                            <input name="form-field-checkbox" class="ace input-lg" type="checkbox" checked="checked" id="ckbAtivo" ng-model="novoStatusSistema.Ativo">
                            <span class="lbl"> Ativo</span>
                        </label>
                    </div>
                </div>
                <!--Fim Dados do fornecedor-->
                <!--Inicio Botoes-->
                <hr/>
                <div class="row">
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-success btn-sm">
                            <i class="ace-icon fa fa-check"></i>
                            Salvar
                        </button>

                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default btn-sm" ng-click="limpaDados()">
                            <span class="glyphicon glyphicon-pencil"></span>
                            Novo
                        </button>

                    </div>
                </div>

                <!--Fim Botoes-->
            </form>

        </div>
        
    </div>
</div>