<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="crystalQuartz" type="CrystalQuartz.Web.Configuration.CrystalQuartzConfigurationGroup">
      <section name="provider" type="CrystalQuartz.Web.Configuration.ProviderSectionHandler" requirePermission="false" allowDefinition="Everywhere" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ECC_DEV" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=ECC;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="ECC_DEV" connectionString="Data Source=69.30.249.130,778;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=\ecj0697@" providerName="System.Data.SqlClient" />-->

    <add name="ECC_HOM" connectionString="Data Source=173.208.182.26,778;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=\ecj0697@" providerName="System.Data.SqlClient" />
    <add name="ECC_PRD" connectionString="Data Source=69.30.249.130,779;Initial Catalog=ECC;Persist Security Info=True;User ID=PLATAFORMAECC;Password=@Prod2019*/success" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="QtdeSmsEnviadosPorVez" value="20" />
    <add key="QtdeSmsConfirmarPorVez" value="20" />
    <!--Email  para Envio de SMS-->
    <add key="EmailSms" value="sms@economizaja.com.br" />
    <add key="EmailSmsPass" value="@sms1721" />
    <!--Envio de SMS TWW-->
    <add key="TWWUsuario" value="saicro" />
    <add key="TWWSenha" value="/Ecj@789278#" />
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="Timer" value="1" />
    <add key="Dev_UrlRetorno" value="http://minhacasaval.ddns.net:90/" />
    <add key="Hom_UrlRetorno" value="http://homadm.economizaja.com.br/" />
    <add key="Prd_UrlRetorno" value="https://adm.economizaja.com.br/" />

    <!--Produção-->
    <!--<add key="ClientID" value="Client_Id_ea14656617977f2a67c50b60c1c07ab3c7378e17" />
    <add key="ClientSecret" value="Client_Secret_ee86bed69edf004ca78a569b86271ea104960cdb" />
    <add key="Sandbox" value="False" />-->

    <!--Homologação-->
    <add key="ClientID" value="Client_Id_81cbc674d97c6c37768985011c10abbf04e5f3c8" />
    <add key="ClientSecret" value="Client_Secret_9da91579702b9b1e7d49b514a2a3f54da6e95cc9" />
    <add key="Sandbox" value="True" />

    <add key="ValorMinFatura" value="500" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="usuarioPadraoRobo" value="1" />
  </appSettings>
  <system.net>
    <mailSettings>
      <!--SMTP para envio de email-->
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" port="587" defaultCredentials="true" userName="economizaja@gmail.com" password="\admin1721@" />
        <!--  <network host="smtp.zoho.com" port="587" defaultCredentials="false"  userName="economizaja@economizaja.com.br" password="Ecj146789" />-->
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1" />
    <httpRuntime targetFramework="4.5.1" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <crystalQuartz>
    <provider>
      <add property="Type" value="ECC.WebJobScheduler.JobScheduler, ECC.WebJobScheduler" />
    </provider>
  </crystalQuartz>
  <system.webServer>
    <handlers>
      <add name="CrystalQuartzPanel" verb="*" path="CrystalQuartzPanel.axd" type="CrystalQuartz.Web.PagesHandler, CrystalQuartz.Web" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>